

<body>
        <main>

          <div class="container-fluid">
            <div class="header">
              <h1>Log In</h1>
            </div>            
              
            
            <form (ngSubmit)= "formularioLogin()" id="login-form">
                <input type="usuario" [(ngModel)]="usuario.usuario" placeholder="Usuario" [ngModelOptions]="{standalone:true}" required>
                <input type="password" [(ngModel)]="usuario.clave" placeholder="Password" [ngModelOptions]="{standalone:true}" required>              
              <br>
              <input  class = "iniciar" type ="submit"  value = "Iniciar Sesion" >
            </form>
          <div class="alerta" *ngIf= "usuarioInvalido">
            El usuario o el password es invalido.
          </div>  
          </div>
           
          
          
       </main>
</body>
