body { 
    background: url(https://fondosmil.com/fondo/4278.jpg) 
    no-repeat center center fixed;
  
    box-shadow: 2px 2px 10px #999;
   
  
    font-family: 'Open Sans', sans-serif;
   height: 100vh;
    box-sizing: border-box;
  }
  
  ul {
    color: red;
    
  
   
    width: 350px;
    height: 30px;
    background: rgba(2, 0, 0, 0.863);
    
    
  }
  
  .container-fluid {
   
    width: 1300px;
    height: 30px
   
  }
  
  
  
  