<body>
  


    <div class="container-fluid ">
     
      <br>
      <br>
      <br>
      <h1 class="h3  btn-dark btn-lg justify-content-center">Listado de tipos de roles
        <h5 style="margin-top: 30px;" *ngIf="rol.length == 0">No hay datos para mostrar</h5>
      </h1>
      <button class="btn btn-dark btn-lg float-right" (click)="agregarBoton()">Agregar</button>
      
      <table *ngIf="rol.length > 0" class="table table-dark table-striped ">
          <thead>
          <tr>
            <th scope="col">#</th>
            
            <th scope="col">ROL</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">STATUS</th>

         
            
            <th scope="col"></th>
          
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let datos of rol  | paginate:{ itemsPerPage: 5, currentPage: paginaActual }" >
            <th id="aaa" scope="row" >{{ datos.idRol }}</th>
           
            <td>{{ datos.rol}}</td>
            <td>{{ datos.descripcion}}</td>
            <td>{{ datos.stsRol}}</td>
           
    
            <td>
              <i class="fas fa-trash btn btn-danger mr-2"(click)="eliminar(datos)"></i>
            
  
  
  
            <i class="fas fa-user-edit btn btn-info"(click)="editar(datos)"></i>
            </td>
           
            
          </tr>
          </tbody>
        </table>
        <ul  >
          <pagination-controls class="a" (pageChange)="paginaActual = $event"></pagination-controls>
        </ul>
        
       
        <button class="btn btn-danger btn-lg float-right" routerLink="/bienvenidaAdmin">Volver a la Bienvenida</button>
      
      
      
        
      
       
      
      
      
        
      
      
        
      </div>
  
  </body>